	/* 320 */

@media all and (max-width: 479px) {
	.updates__more960,
	.box__title960,
	.box__text480,
	.box__text960,
	.footer__f-menu,
	.lorem__pink960,
	.lorem__description,
	.lorem__description960,
	.lorem__phone,
	.testimonial__text768,
	.testimonial__text960,
	.header__opacity,
	.content__news {
		display: none;
	} 
}

	/* 480 */

@media all and (max-width: 767px) and (min-width: 480px) {
	.lorem__description,
	.lorem__description960,
	.lorem__pink960,
	.updates__more960,
	.categories__title960,
	.categories__copyright {
		display: none;
	}

	.navigation__menu {
		margin: 19px 0 0 23%;
	}

	.menu__link {
		display: inline;
		line-height: 37px;
		padding-bottom: 1px;
	}	

	.menu__link:hover {
		border-bottom: none;
	}

	.menu__list {
		margin: 0 auto;
		overflow: hidden;
		z-index: 5;
		height: 46px;
		width: 246px;
		border: 1px solid #051116;
		background: rgba(54,41,62,0.9);
		border-radius: 10px;
		transition: height 0.2s linear;
	}

	.menu__list:hover {
		height: 257px;
	}

	.menu__item {
		display: block;
		height: 28px;
		border-top: 1px solid #4f3d57;
		margin-right: 0;
		padding: 6px 0;
		text-align: center;
	}

	.menu__item:first-child {
		border-bottom: 2px solid #edbfff;
		margin-right: 100px;
		margin-left: 96px;
	}

	.menu__item:hover {
		border-bottom: 2px solid #edbfff;
		background: rgba(38,29,43,0.9);
	}

	.lorem__arrow {
		margin: 178px 0 0 0;
	}

	.lorem__right-arrow {
		margin-left: 0;	
	}

	.slider__container {
		padding: 34px 0 383px 3%;
	}

	.wrapper__slider {
		margin: 0 auto;
		max-width: 418px;
	}

	.lorem__text {
		float: left;
		padding: 139px 0 200px 0;
	}

	.phone__picture {
		margin: 13px 0 0 0;
	}

	.container1__form {
		margin: 307px 0 0 40%;
	}

	.content__about {
		padding: 57px 0 66px 0;
	}

	.about__block3 {
		padding-top: 7px;
	}

	.about__icon3 {
		margin-top: 5px;
	}

	.testimonial__wrapper {
	    padding: 68px 5px 88px 0px;
	}

	.testimonial__block {
		height: 275px;
		margin-left: 34px;
	}

	.testimonial__box {
		margin-bottom: 18px;
		padding: 10px 15px 28px 3px;
	}

	.testimonial__title {
		font-size: 30px;
	}

	.title__span {
		display: inline-block;
	}

	.testimonial__picture {
	    margin: -2px 0 0 -30px;
	}

	.testimonial__text {
		height: 174px;
		padding: 12px 10px 0px 35px;
	}

	.updates__block {
		margin: 86px 0 0 16%;
	}

	.box__title {
		width: 100%;
	}

	.box__text {
		width: 255px;
	}

	.updates__box:nth-child(2) {
		margin-top: 1px;
    }

    .updates__box:last-child {
    	margin-top: -1px;
    }

    .updates__more {
    	margin: 17px 0 0 64.6%;
    }

    .content__partners {
    	border-bottom: 1px rgba(205, 204, 204, 0.42) solid;
    }

    .partners__block {
    	padding: 37px 0 195px 0;
    }

    .partners__link {
    	float: left;
    }

    .partners__link:first-child {
    	margin: 0 11.6% 0 16%;
    }

    .partners__link:nth-child(2) {
    	margin: 0 0 0 0;
    }

    .partners__link:nth-child(3) {
    	margin: 0 16% 20px 11.7%;
    }

    .partners__link:nth-child(4) {
    	margin: 5px 12.6% 20px 12.5%;
    }

    .partners__link:nth-child(5) {
    	margin: 28px 10% 0 0;
    }

    .partners__link:last-child {
    	margin: 7px 0 0 2%;
    }

    .content__news {
    	padding: 79px 1.5% 83px 1.8%;
    }

    .news__block2 {
    	margin-top: 52px;
    }

    .news__block3 {
    	margin-top: 55px;
    }
}

	/* 768 */

@media all and (max-width: 959px) and (min-width: 768px) {
	.lorem__description960,
	.lorem__pink960,
	.updates__more960,
	.categories__title960,
	.categories__copyright {
		display: none;
	}

	.header__opacity {
		height: 400px;
		margin-top: 244px;
	}

	.lorem__arrow {
		margin: 280px 0 0 0;
	}

	.primary__navigation {
		padding-left: 1%;
		text-align: left;
	}

	.navigation__menu {
		margin: 33px 0 0 0;
	}

	.menu__list {
		list-style: none;
		width: 99%;
	}

	.menu__item {
		display: inline-block;
		margin-right: 6.4%;
	}

	.wrapper__slider {
		margin: 0 auto;
		max-width: 750px;
	}

	.slider__container {
		padding: 103px 0 550px 0;
	}

	.lorem__text {
		float: left;
		width: 37%;
		padding: 103px 0 0 0.4%;
	}

	.lorem__white {
		font-size: 48px;
		margin-top: 3px;
		word-spacing: -2px;
	}

	.lorem__pink {
		font-size: 24px;
		margin-top: 20px;
	}

	.lorem__description {
		height: 123px;
		overflow: hidden;
		margin-top: 5px;
		color: white;
		font-family: OpenSansLight;
		font-size: 16px;
		line-height: 30px;
	}

	.phone__picture {
		margin: -51px 2% 0 0;
		width: 275px;
		height: 450px;
	}

	.container1__form {
		margin: 433px 0 0 71%;
	}

	.form__slider-nav input {
		top: -800px;
	}

	.form__slider-nav label {
		margin-right: 2px;
	}

	.content__about {
		padding: 57px 0 285px 0;
	}

	.about__block {
		float: left;
		width: 21%;
	}

	.about__p {
		height: 145px;
	}

	.about__more {
		margin: 8px 13px 0 0;
	}

	.about__icon3 {
		margin-top: 0px;
	}

	 .about__block3 {
	 	padding-top: 0px;
	 	margin-left: 28px;
	 	padding-right: 0;
	}

	 .testimonial__wrapper {
	 	padding: 102px 10px 382px 1%;
	}

	 .testimonial__block {
	 	float: left;
	 	height: 273px;
	 	width: 43%;
	}

	.testimonial__box {
	 	margin-bottom: -5px;
	 	padding: 9px 0 0 2px;
	}

	 .testimonial__picture {
	 	margin: -5px 0 0 -30px;
	}

	 .testimonial__text {
	 	height: 141px;
	 	margin-bottom: 50px;
	 	padding: 5px 24px 0 36px;
	}

	 .form__slider-nav-white {
	 	margin-top: 25px;
	 	left: 37%;
	}

	 .updates__block {
	 	float: left;
	 	margin: 25px 0 0 7.6%;
	}

	 .box__title {
	 	width: 100%;
	}

	 .box__text {
	 	width: 260px;
	}

	 .updates__box:nth-child(2) {
		margin-top: 1px;
    }

    .updates__box:last-child {
    	margin-top: -1px;
    }

    .updates__more {
    	margin: 17px 0 0 72.8%;
    }

    .content__partners {
    	border-bottom: 1px rgba(205, 204, 204, 0.42) solid;
    }

    .partners__block {
    	padding: 26px 0 94px 0;
    }

    .partners__link {
    	float: left;
    }

    .partners__link:first-child {
    	margin: 0 3% 0 1.3%;
    }

    .partners__link:nth-child(2) {
    	margin: 0 0 0 4.5%;
    }

    .partners__link:nth-child(3) {
    	margin: 0 9% 0 7%;
    }

    .partners__link:nth-child(4) {
    	margin: 0 0 0 0;
    }

    .partners__link:nth-child(5) {
    	margin: 22px 0 0 7.5%;
    }

    .partners__link:last-child {
    	margin: 2px 0 0 7%;
    }

    .content__news {
    	padding: 101px 1.5% 295px 0.8%;
    }

    .news__categories {
    	width: 28.5%;
    	float: left;
    }

    .news__block2 {
    	margin: 0 7% 0 7.5%;
    }

    .categories__text {
    	height: 170px;
    }

    footer {
    	height: 200px;
    } 

    .footer__f-menu {
    	margin: 39px 0 0 1%;
    }

    .f-menu__item {
    	margin-right: 5.4%;
    } 

    .footer__text {
    	float: right;
    	margin-right: 2%;
    }
}


	/* 960 */

@media all and (min-width: 960px) {
	.updates__more,
	.categories__title {
		display: none;
	}

	header {
		background-size: cover;
	}

	.slider__container {
		padding: 297px 0 478px 0;
	}

	.navigation__logo {
		float: left;
	}

	.navigation__menu {
		margin: 0 0 0 0;
	}

	.primary__navigation {
		text-align: right;
	}

	.menu__list {
		width: 100%;
		max-width: 960px;
		overflow: visible;
		list-style: none;
	}

	.menu__item {
		display: inline-block;
		margin: 4px 0 0 4.75%;
	}

	.menu__item:nth-child(4) {
		margin: 4px -1% 0 5.5%;
	}

	.header__opacity {
		height: 400px;
		margin-top: 279px;
	}

	.lorem__text {
		float: left;
		max-width: 54%;
		margin-left: 0;
		line-height: 36px;
	}

	.lorem__white {
		font-size: 60px;
		word-spacing: -0.5px;
		letter-spacing: -0.5px
	}

	.lorem__pink {
		font-size: 32px;
		margin-top: 11px;
	}

	.lorem__description {
		display: none;
	}

	.lorem__description960 {
		margin-top: 4px;
		color: white;
		font-family: OpenSansLight;
		font-size: 18px;
		line-height: 23px;
	}

	.description960__part2 {
		word-spacing: -1px;
	}

	.description960__part3 {
		line-height: 25px;
		word-spacing: -0.5px;
		letter-spacing: -0.4px;
	}

	.phone__picture {
		margin: -127px 3% 0 0;
		width: 275px;
		height: 450px;
	}

	.wrapper__arrow {
		width: 100%;
		max-width: 1600px;
}

	.lorem__arrow {
		display: block;
		position: absolute;
		margin: 368px 0 0 0;
	}

	.lorem__right-arrow {
		position: relative;
		margin: 368px 0 0 0;
	}

	.container1__form {
		margin: 403px 0 0 712px;
	}

	.form__slider-nav input {
		top: -800px;
	}

	.form__slider-nav label {
		margin-right: 2px;
	}

	.content__about {
		padding: 59px 0 283px 0;
	}

	.about__block {
		float: left;
		width: 24%;
		margin: 20px 0 0 3px;
		padding: 0 48px 5px 61px;
	}

	.about__icon2 {
		background-position: -102px -15px;
	}

	.about__icon3 {
		background-position: -151px -16px;
		margin-top: 0px;
	}

	.about__h2 {
		font-size: 30px;
	}

	.about__p {
		height: 120px;
		margin-top: 12px;
	}

	.about__more {
		margin: 19px 12px 0 0;
	}

	.about__block2 {
		padding-right: 0;
	}

    .about__block3 {
	 	padding-top: 0px;
	 	margin-left: 2%;
	 	padding-right: 0;
	 }

	.testimonial__wrapper {
	 	padding: 98px 0 386px 0;
	 }

	 .testimonial__block {
	 	float: left;
	 	width: 46%;
	 	background: url(../img/quote.png) no-repeat;
	 }

	 .testimonial__box {
	 	border: none;
	 	margin-bottom: 0;
	 	padding: 12px 0 24px 0;
	 }

	 .testimonial__text {
	 	height: auto;
	 	padding: 5px 40px 15px 36px;
	 }

	.testimonial__picture {
	 	margin: -6px 0 0 -29px;
	 }

	.testimonial__title {
		font-size: 30px;
	}

	.title__span {
	 	display: inline-block;
	 	margin-left: -2px;
	 }

	 .form__slider-nav-white {
	 	margin-top: 21px;
	 	left: 40%;
	 }

	 .updates__block {
	 	float: left;
	 	margin: 29px 0 0 4.7%;
	 }

	 .box__figcaption {
	 	margin-left: 16px;
	 }

	 .box__title {
	 	width: 100%;
	 }

	 .box__text {
	 	width: 100%;
	 }

	 .updates__box:nth-child(2) {
		margin-top: 0px;
    }

    .updates__box:last-child {
    	margin-top: -3px;
    }

    .updates__more960 {
    	display: block;
    	margin: 20px 0 0 80%;
    	text-decoration: none;
    	text-transform: uppercase;
    	text-shadow: 0.5px 0.9px 0 white;
    	color: #454545;
    	font-family: LeagueGothic;
    	font-size: 19px;
    	font-weight: 400;
    	letter-spacing: -0.3px;
    }

    .content__partners {
    	border-bottom: 1px rgba(205, 204, 204, 0.42) solid;
    }

    .partners__block {
    	padding: 25px 0 94px 8.7%;
    }

    .partners__link {
    	float: left;
    }

    .partners__link:first-child {
    	margin: 0 3% 0 1.3%;
    }

    .partners__link:nth-child(2) {
    	margin: 0 0 0 4.5%;
    }

    .partners__link:nth-child(3) {
    	margin: 0 8.7% 0 7.5%;
    }

    .partners__link:nth-child(4) {
    	margin: 0 0 0 0;
    }

    .partners__link:nth-child(5) {
    	margin: 22px 0 0 7.9%;
    }

    .partners__link:last-child {
    	margin: 2px 0 0 7.5%;
    }

     .content__news {
    	padding: 103px 0% 294px 0;
    }

    .news__categories {
    	width: 30.5%;
    	float: left;
    }

    .news__block2 {
    	margin: 0 3% 0 5.5%;
    }

    .categories__title960 {
    	font-size: 30px;
    } 

    .categories1__title960 {
    	font-size: 48px;
		letter-spacing: -0.4px;
    }

    .categories__text {
    	height: 170px;
    }

    .categories__text1 {
    	height: 122px;
    }

    .title960__span {
		text-transform: uppercase;
		text-shadow: 0 1px 0 white;
		color: #b9b9b9;
		font-family: LeagueGothic;
		font-size: 48px;
		font-weight: 400;
		line-height: 34px;
	}

	.categories__copyright {
		margin-top: 10px;
		text-shadow: 0.5px 0.9px 0 white;
		color: #c5c5c5;
		font-family: Georgia;
		font-size: 16px;
		font-style: italic;
		line-height: 24px;
	}

	footer {
    	height: 115px;
    } 

    .footer__f-menu {
    	margin: 39px 0 0 0;
    }

    .f-menu__item {
    	margin-right: 4.2%;
    } 

    .footer__text {
    	float: right;
    	margin: -19px 0 0 0;
    	padding: 0 0 0 0; 
    }
}